html, body {
	height: 100%;
	min-height: 600px;
}

body {
	margin: 0;
	padding: 0;
	background: url("w1.jpg") repeat;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	font-weight: 200;
	color: #454545;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	color: #221D1D;
}

h2 {
	font-size: 2.5em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

strong {
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
}

/* Logo */

#logo {
	width: 960px;
	height: 100px;
	margin: 0px auto 30px auto;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	font-size: 5em;
}

#logo h1 span {
	color: #1F1F1F;
}

#logo p {
	text-align: center;
	font-size: 16px;
	color: #595959;
}

#logo p a {
	color: #595959;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: rgb(46, 116, 46);
}

.login {
	width: 100px;
	float: right;
	margin-top: -95px;
	margin-right: -100px;
}

.login span {
	padding: 10px;
}

/** MENU */

#menu {
	overflow: hidden;
	width: 1200px;
	background: #339933;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 15px 40px 15px 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background: #336600;
	color: #FFFFFF;
}

#menu .last {
	border-right: none;
}

/** PAGE */

#page {
}

/** CONTENT */

#content {
}

/** SIDEBAR */

#sidebar {
}

/* Footer */

#footer {
	overflow: hidden;
	width: 1000px;
	height: 80px;
	margin: 0 auto;
	padding: 20px 0 15px 0;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #363636;
}

#footer a {
	color: #363636;
}

/* Footer Content */

#footer-content {
	overflow: hidden;
	width: 1100px;
	padding: 50px;
	background: #ECECEC;
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #666666;
}

#footer-content h2 {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-size: 24px;
}

#footer-content #fbox1 {
	float: left;
	width: 600px;
	margin-right: 30px;
}

#footer-content #fbox2 {
	float: left;
	width: 220px;
}

#footer-content #fbox3 {
	float: right;
	width: 220px;
}

/* Welcome */


#welcome {
	width: 1100px;
	margin: 0px auto;
	padding: 30px 50px;
}

#welcome .content {
	padding: 0px 0px 40px 0px;
	border-bottom: 1px solid #D4D4D4;
	min-height: 600px;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
}

#welcome h2 a {
	text-decoration: none;
	color: #000000;
}


/* Three Columns */

#three-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 0px 50px 30px 50px;
}

#three-columns .content {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	border-bottom: 1px solid #D4D4D4;
}

#three-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

#three-columns #column1 {
	float: left;
	width: 290px;
	margin-right: 40px;
}

#three-columns #column2 {
	float: left;
	width: 430px;
}

#three-columns #column3 {
	float: right;
	width: 300px;
}

/* Two Columns */

#two-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 40px 50px 50px 50px;
}

#two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

#two-columns #col1 {
	float: right;
	width: 740px;
}

#two-columns #col2 {
	float: left;
	width: 320px;
}


/* List Style 1 */

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #D4D4D4;
}

.list-style1 .date {
	font-weight: bold;
	color: #212121;
}

.list-style1 .first {
	padding-top: 0px;
	border-top: none;
}


/* List Style 2 */

.list-style2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	list-style: none;
}

.list-style2 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #D4D4D4;
}


.list-style2 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 1 */

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #C81F18;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: 1px 0px 1px #5C1111;
	text-transform: uppercase;
	color: #FFFFFF;
}

.log {
	-moz-box-shadow:inset 0px 1px 0px 0px #339933;
	-webkit-box-shadow:inset 0px 1px 0px 0px #808080;
	box-shadow:inset 0px 1px 0px 0px #808080;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #181818), color-stop(1, #333300) );
	background:-moz-linear-gradient( center top, #339933 5%, #339933 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	width: 100px;
	border-radius:6px;
	border:1px solid #333333;
	display:inline-block;
	color: #a0a0a0;
		
	  font-family: 'Oswald', sans-serif;
	  font-size: 12px;
	  font-weight: bold;
	  text-transform: uppercase;
	padding:6px 24px;
	text-decoration:none;
}.log:hover {
	color: #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #404040), color-stop(1, #333300) );
	background:-moz-linear-gradient( center top, #336600 5%, #339933 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#336600', endColorstr='#339933');
	background-color:#ce0100;
}.log:active {
	position:relative;
	top:1px;
}

.log2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #339933;
	-webkit-box-shadow:inset 0px 1px 0px 0px #808080;
	box-shadow:inset 0px 1px 0px 0px #808080;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #181818), color-stop(1, #333300) );
	background:-moz-linear-gradient( center top, #339933 5%, #339933 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	width: 70%;
	border-radius:6px;
	border:1px solid #333333;
	display:inline-block;
	color: #a0a0a0;
		
	  font-family: 'Oswald', sans-serif;
	  font-size: 12px;
	  font-weight: bold;
	  text-transform: uppercase;
	padding:6px 24px;
	text-decoration:none;
}.log2:hover {
	color: #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #404040), color-stop(1, #333300) );
	background:-moz-linear-gradient( center top, #336600 5%, #339933 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#336600', endColorstr='#339933');
	background-color:#ce0100;
}.log2:active {
	position:relative;
	top:1px;
}

.log3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #339933;
	-webkit-box-shadow:inset 0px 1px 0px 0px #808080;
	box-shadow:inset 0px 1px 0px 0px #808080;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #181818), color-stop(1, #333300) );
	background:-moz-linear-gradient( center top, #339933 5%, #339933 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #333333;
	display:inline-block;
	color: #a0a0a0;
		
	  font-family: 'Oswald', sans-serif;
	  font-size: 12px;
	  font-weight: bold;
	  text-transform: uppercase;
	padding:6px 24px;
	margin: 0;
	text-decoration:none;
}.log3:hover {
	color: #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #404040), color-stop(1, #333300) );
	background:-moz-linear-gradient( center top, #336600 5%, #339933 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#336600', endColorstr='#339933');
	background-color:#ce0100;
}.log3:active {
	position:relative;
	top:1px;
}

.log3width {
	width: 200px;
}

.spaceAdd {
	margin-top: 10px;
	margin-bottom: 20px;

}

.spaceAdd2 {
	line-height: 200%

}

input:focus {
    outline:none;
}


#cssmenu li {
  margin: 0;
  padding: 0;
}
#cssmenu a {
  margin: 0;
  padding: 0;
}

#cssmenu .width1 {
	width:50%;
}

#cssmenu .width2 {
	width:60%;
}

#cssmenu ul {
  list-style: none;
  margin-left:auto;
  margin-right:auto;
  
  padding: 0px 0px;
  line-height: normal;
}
#cssmenu a {
  text-decoration: none;
}
#cssmenu {
  height: 70px;
  background-color: #232323;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  width: auto;
  
  overflow: hidden;
  font-size: 20px;
}
#cssmenu > ul > li {
	
  float: left;
  margin-left: 15px;
  position: relative;
}

#cssmenu > ul > li > a {
  color: #a0a0a0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 200;
  border: none;
  
  line-height: 70px;
  padding: 15px 40px 15px 40px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
}
#cssmenu > ul > li > a:hover {
	
  color: #ffffff;
}

#cssmenu .active  {
	background-color: #333333;
}

#cssmenu .active a  {
	color: #ffffff;
}


#block {
	background-color: ;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 200;
	
}

#block ul {
	list-style: none;
	
}


#block .field {
	background-color: ;
	margin: 30px;
	text-align: center;
	padding: 20px;
	width: 400px;
	
}

.edField {
	background-color: ;
	margin: 0px;
	text-align: left;
	width: 400px;
	
}

.edField1 {
	float: left;
	position: relative;
	font-size: 12px;
	
	
}

.edField2 {
	width: 200px;
	position: relative;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 15px;
	font-family: 'Oswald', sans-serif;
  	font-size: 11px;
  	 /* css 3 */
	 border-radius:5px;
	 /* mozilla */
	 -moz-border-radius:5px;
	 /* webkit */
	 -webkit-border-radius:5px;
}

#block .field1 {
	float: left;
	position: relative;
	margin-top: -10px;
	
}

#block .field2 {
	width: 200px;
	position: relative;
	float: right;
	margin-top: -23px;
	margin-right: 0px;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
  	font-size: 12px;
  	 /* css 3 */
	 border-radius:5px;
	 /* mozilla */
	 -moz-border-radius:5px;
	 /* webkit */
	 -webkit-border-radius:5px;
	
}

#block .field3 {
	width: 300px;
	position: relative;
	float: right;
	margin-top: -23px;
	margin-right: 0px;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
  	font-size: 12px;
  	 /* css 3 */
	 border-radius:5px;
	 /* mozilla */
	 -moz-border-radius:5px;
	 /* webkit */
	 -webkit-border-radius:5px;
	
}

#mainBlock {
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 2px 2px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
	
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
	
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
	
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-right-radius:8px;
	border-bottom-right-radius:8px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border-top-left-radius:8px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	border-top-right-radius:8px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:8px;
	-webkit-border-bottom-left-radius:8px;
	border-bottom-left-radius:8px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{

	background-color:#808080;
	border:0px solid #808080;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family: 'Oswald', sans-serif;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{

	background-color:#808080;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}